<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_base_path() }}/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ get_base_path() }}/../vendor/twbs/bootstrap-icons/font/bootstrap-icons.css">
  {% endblock head %}
</head>
<body>
<header>{% block header %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-lg">
      <a class="navbar-brand" href="{{ url_for("/") }}">
        <img src="{{ get_base_path() }}/../views/images/fhooe.svg" alt="" height="30" class="d-inline-block align-text-top">
        fhooe/router-skeleton
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("/createuser") }}">CRUD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("/create_user") }}">Doctrine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("/createcountry") }}">Country</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for("/mycart") }}">Mycart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock header %}
</header>
<main>
  <div class="container-lg mt-lg-4">
    {% if _session.isloggedin is defined %}
    <p><i class="bi-emoji-smile" style="font-size: 1em"></i> Your are logged in as {{  _session.first_name }} {{  _session.last_name }}.</p>
    {% endif %}
    {% block main %}{% endblock main %}
  </div>
</main>
<div class="container-lg">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  {% block footer %}
    <div class="col-lg-9 d-flex align-items-center">
      <img src="../views/images/fhooe.svg" alt="" height="24" class="me-2">
      <span class="text-muted">© FH Oberösterreich | Department of Digital Media</span>
    </div>

    <ul class="nav col-lg-3 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/Digital-Media/fhooe-router-skeleton">
          <i class="bi-github"></i>
        </a>
      </li>
    </ul>
  {% endblock footer %}
</footer>
</div>
<script src="{{ get_base_path() }}/../vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>