{% extends "base.html.twig" %}

{% block title %}Country{% endblock title %}
{% block main %}
    <h1>Country Data</h1>
    <div class="border p-3 mt-5">
        {{ include('errors.html.twig') }}
        <form method="post" action="{{ url_for("/createcountry") }}">
            <div class="mb-3">
                <label for="country" class="form-label">Country Name</label>
                <input type="text" class="form-control" id="country" name="country" value="{{ country }}"
                       placeholder="country name" aria-describedby="countryHelp" autocomplete="country">
                <div id="countryHelp" class="form-text">Please enter a country name.</div>
            </div>
            <div class="mb-3">
                <label for="isocode" class="form-label">ISOcode</label>
                <input type="text" class="form-control" id="isocode" name="isocode" value="{{ isocode }}"
                       placeholder="isocode" aria-describedby="isocodeHelp" autocomplete="current-isocode">
                <div id="isocodeHelp" class="form-text">Please enter an ISOcode.</div>
            </div>
            <button type="submit" class="btn btn-primary">Add Country</button>
        </form>
    </div>
    <div class="border p-3 mt-5">
    <h2>List of Countries</h2>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>ISOCode</th>
            </tr>
            {% if countries is defined %}
                {% for key, value in countries %}
                    <tr>
                        <td> {{ countries[key]['country'] }} </td>
                        <td> {{ countries[key]['isocode'] }} </td>
                    </tr>
                {% else %}
                    <tr>
                        <td> No products found in search </td>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    </div>

    <div class="border p-3 mt-5">
        <h2>Delete Country</h2>
        <form method="post" action="{{ url_for("/deletecountry") }}">
            <div class="mb-3">
                <label for="countryToDelete" class="form-label">Select Country to Delete</label>
                <select class="form-select" id="countryToDelete" name="countryToDelete" aria-describedby="countryDeleteHelp">
                    {% if countries is defined %}
                        {% for country in countries %}
                            <option value="{{ country['cid'] }}">{{ country['country'] }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <div id="countryDeleteHelp" class="form-text">Please Select a Country to Delete</div>
            </div>
            <button type="submit" class="btn btn-danger">Delete Country</button>
        </form>
    </div>


{% endblock main %}