{% extends "base.html.twig" %}

{% block title %}Doctrine Example{% endblock title %}
{% block main %}
    <h1>Doctrine Example</h1>
    <div class="border p-3 mt-5">
        {{ include('errors.html.twig') }}
        <form method="post" action="{{ url_for( route ) }}">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ email }}"
                       placeholder="you@example.com" aria-describedby="emailHelp" autocomplete="email" required>
                <div id="emailHelp" class="form-text">Please enter the email address you registered with.</div>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ name }}"
                       placeholder="Your Name" aria-describedby="nameHelp">
                <div id="nameHelp" class="form-text">Please enter your name.</div>
            </div>
            {% if uid is defined %}
                {% for key, value in uid %}
                    <button type="submit" class="btn btn-primary" name="uid[{{ value }}]">Update</button>
                {% endfor %}
            {% else %}
                <button type="submit" class="btn btn-primary">Insert</button>
            {% endif %}
        </form>
    </div>
    <div class="border p-3 mt-5">
        <h2>List of User E-Mails</h2>
        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Username</th>
                    <th>User E-Mails</th>
                </tr>
                {% if users is defined %}
                    {% for key, value in users %}
                        <tr>
                            <td> <a href="{{ url_for("/delete_user") ~ "?uid=" ~ users[key]['_id'] }}"> Delete </a></td>
                            <td> <a href="{{ url_for("/update_user") ~ "?uid=" ~ users[key]['_id'] }}"> Update </a></td>
                            <td> &nbsp; {{ users[key]['name'] }} </td>
                            <td> &nbsp; {{ users[key]['email'] }} </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td> </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;No users found in search </td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock main %}