{% extends "base.html.twig" %}

{% block title %}MyCart{% endblock title %}
{% block main %}
    <h1>MyCart</h1>
    <div class="border p-3 mt-5">
        {{ include('errors.html.twig') }}
        <form method="post" action="{{ url_for("/mycart") }}">
            <div class="InputCombo Grid-full">
                <table class="table table-bordered">
                    <tr>
                        <th>PID</th>
                        <th>Product_name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    {% if order_items is defined %}
                        {% for key, value in order_items %}
                            <tr>
                                <td>{{ order_items[key]['pid'] }}</td>
                                <td>{{ order_items[key]['product_name'] }}</td>
                                <td>{{ order_items[key]['price'] }}</td>
                                <td>
                                    <input id="{{ order_items[key]['pid'] }}" type="number" name="quantity[{{ order_items[key]['pid'] }}]" min="0" max="10" value="{{ order_items[key]['quantity'] }}" class="input_qty"/>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td> No Products in Cart </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            {% if not(order_items is empty) %}
                <div id="submitbuttons" class="Grid-full">
                    <input id="update" type="submit" class="Button" name="update" value="Change Quantity" />
                    <input id="checkout" type="submit" class="Button" name="checkout" value="Buy now" />
                </div>
            {% endif %}
        </form>
    </div>
{% endblock main %}